{
  "openapi": "3.0.3",
  "info": {
    "title": "법령 검색 API",
    "description": "대한민국 법령 DB 실시간 쿼리. 법률 1,707개, 조문 499K, 판례 171K.",
    "version": "1.0.0",
    "contact": {
      "url": "https://api.beopmang.org"
    }
  },
  "servers": [
    {
      "url": "https://api.beopmang.org"
    }
  ],
  "paths": {
    "/search/{query}": {
      "get": {
        "operationId": "search",
        "summary": "키워드로 조문 본문 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top_k",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/law/{name_or_id}": {
      "get": {
        "operationId": "law",
        "summary": "법령 정보 조회",
        "parameters": [
          {
            "name": "name_or_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/article/{law}/{label}": {
      "get": {
        "operationId": "article",
        "summary": "조문 상세 조회",
        "parameters": [
          {
            "name": "law",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "법령명/약칭/법령ID"
          },
          {
            "name": "label",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/byulpyo/{law}": {
      "get": {
        "operationId": "byulpyo",
        "summary": "별표 조회",
        "parameters": [
          {
            "name": "law",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/history/{law}": {
      "get": {
        "operationId": "history",
        "summary": "법령 연혁 조회",
        "parameters": [
          {
            "name": "law",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/case/{query}": {
      "get": {
        "operationId": "case",
        "summary": "판례/헌재결정/해석례 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "prec"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 1
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/case-view/{id}": {
      "get": {
        "operationId": "case_view",
        "summary": "판례/헌재결정/해석례 상세 조회",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "prec"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/case-text/{query}": {
      "get": {
        "operationId": "case_text",
        "summary": "판례 전문 텍스트 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/case-vsearch/{query}": {
      "get": {
        "operationId": "case_vsearch",
        "summary": "판례 시맨틱 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 10
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/hsearch/{query}": {
      "get": {
        "operationId": "hsearch",
        "summary": "판례 하이브리드 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 10
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/case-by-law/{law_id}": {
      "get": {
        "operationId": "case_by_law",
        "summary": "특정 법령 관련 판례 검색",
        "parameters": [
          {
            "name": "law_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bill/{query}": {
      "get": {
        "operationId": "bill",
        "summary": "국회 의안 검색",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 22
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bill-detail/{bill_id}": {
      "get": {
        "operationId": "bill_detail",
        "summary": "국회 의안 상세 조회",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bill-minutes/{bill_id}": {
      "get": {
        "operationId": "bill_minutes",
        "summary": "의안별 회의록 목록",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 22
            }
          },
          {
            "name": "committee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bill-sponsors/{bill_id}": {
      "get": {
        "operationId": "bill_sponsors",
        "summary": "의안 발의자 정보",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 22
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bill-vote/{bill_id}": {
      "get": {
        "operationId": "bill_vote",
        "summary": "의안 표결 현황",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 22
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/treaty": {
      "get": {
        "operationId": "treaty",
        "summary": "조약 검색",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nat_cd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eft_yd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 1
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/treaty-view/{treaty_id}": {
      "get": {
        "operationId": "treaty_view",
        "summary": "조약 상세 조회",
        "parameters": [
          {
            "name": "treaty_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "kr"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/neighbors/{node_type}/{node_id}": {
      "get": {
        "operationId": "neighbors",
        "summary": "노드 연결 조회 (그래프)",
        "parameters": [
          {
            "name": "node_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int",
              "default": 20
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/explore/{law_id}": {
      "get": {
        "operationId": "explore",
        "summary": "법령 종합 탐색 (그래프)",
        "parameters": [
          {
            "name": "law_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "1=핵심 필드만 (기본), 0=전체 데이터"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "command": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "result": {},
                    "count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  }
}